.color_drop {
  width: 20px;
  background-color: gray;
  position: relative;

}

.list_item {
  display: flex;
  z-index: 111;
  justify-content: space-between;
  width: 180px;
  margin: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0.25em 0.25em 0.25em rgb(131, 144, 151)
  }


  &__square {
    width: 43px;
    height: 43px;
  }

  &__text {
    color: darkgray;
    font-size: 20px;
    margin: 10px;

  }
}

.colorDropdownList {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 60px;
  background-color: #fafafa;
  width: 200px;
  border-radius: 10px;

  &:after {
    content: '';
    position: absolute;
    right: 44px;
    top: -18px;
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 20px solid #fafafa;
  }

}